<div class="selected-genre-wrapper">
    <section class="selected-bookshelf-section">
        <div class="selected-book-grid" id="recentBooks">
            <div class="selected-book-item" data-story-id="1">
                <img src="../../assets/images/books/folktales/how-the-tinguian-learned-to-plant.png" alt="Book 1">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 45%;" data-progress="1"></div>
                </div>
            </div>
            <div class="selected-book-item" data-story-id="2">
                <img src="../../assets/images/books/myths/the-legend-of-the-first-rainbow.svg" alt="Book 2">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 60%;" data-progress="2"></div>
                </div>
            </div>
            <div class="selected-book-item" data-story-id="3">
                <img src="../../assets/images/books/fables/the-caterpillar-and-the-butterfly.svg" alt="Book 3">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 30%;" data-progress="3"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="selected-bookshelf-section">
        <div class="selected-book-grid">
            <div class="selected-book-item" data-story-id="4">
                <img src="../../assets/images/books/folktales/the-ant-and-the-grasshopper.png" alt="Story 1">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 50%;"></div>
                </div>
            </div>
            <div class="selected-book-item" data-story-id="5">
                <img src="../../assets/images/books/folktales/why-the-carabao-is-strong.png" alt="Story 2">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 75%;"></div>
                </div>
            </div>
            <div class="selected-book-item" data-story-id="13">
                <img src="../../assets/images/books/folktales/the-monkey-and-the-turtle.png" alt="Story 3">
                <div class="selected-progress-container">
                    <div class="selected-progress-fill" style="width: 20%;"></div>
                </div>
            </div>
        </div>
    </section>
</div>